langchain
langchain-community
langchain-core
langchain-google-genai
langchain-chroma
langchain-groq
langchain-huggingface
langchain-text-splitters

google-generativeai
python-dotenv
streamlit
chromadb
bs4
faiss-cpu
duckdb
pandas
sentence-transformers
wikipedia
pymupdf
arxiv
pypdf
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
pytube 
unstructured
numexpr
cassio
tiktoken
datasets
PyPDF2
gradio
